<div align="left"> 
    <div id="preview" style= "BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WORD-SPACING: 1px; BORDER-LEFT: #000 1px solid; WIDTH: 200px; PADDING-TOP: 1px; BORDER-BOTTOM: #000 2px solid; HEIGHT: 80px; TEXT-ALIGN: left"> 
    <p>Usuarios activos:    {{srvUsu.contarActivos()[0]}}</p> 
    <p>Usuarios inactivos:  {{ srvUsu.contarActivos()[1] }}</p> </div></div>
