

<table id = "tabla-edad">

    <tr>
        <th>Usuarios Adultos</th>
        <th>Usuarios Menores</th>
    </tr>
    <tr>
        <td>{{srvUsu.contarAdultosPorSrv()[0]}}</td>
        <td>{{srvUsu.contarAdultosPorSrv()[1]}}</td>
    </tr>

</table>

 

