﻿@{
    ViewData["Title"] = "Practica Usuarios";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="./ejemploWeaFor_AJAX.html">Cliente Ajax Weather Forecast</a>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
