<h1>{{ title }} ejecutando</h1>

<app-uso-servicio></app-uso-servicio>

<app-bindings></app-bindings>
<br>
<app-bindings></app-bindings>
<br>
<app-directivas-struct></app-directivas-struct>

<app-propiedades-input valorX = "20" valorY = "30" valorZ = "40"
srvActivo={{srvEj.siActivado()}}>

</app-propiedades-input>