<h1>{{ title }}</h1>


<app-usuarios-activos></app-usuarios-activos>

<app-usuarios-edad></app-usuarios-edad>

<br>
<button onclick="window.location.href='http://localhost:1349/Vista.html'"> Pagina principal</button>
