<p>¡directivas-struct funciona!</p>
<!-- Crear componente directivas-estruct y meter los dos ejemplos en él y sustituir el tercero 
    (<trozo-web>) por este nuevo componente y hacer el mismo ejemplo con el else de angular-->
<h2>Directivas estructurales:</h2>
<!-- Empiezan por *ngNombreDirectiva: la programación estructurada llevada al HTML declarado-->
<ol>
    <li *ngFor="let comida of arrayDeTextos">
        He probado {{ comida }}
    </li> 
</ol>
<span>Cambia el valor: </span><input type="number" [(ngModel)]="contadorComp"/>
<p>Pulsado {{ contadorComp }} veces</p>
<div *ngIf="contadorComp % 2 === 0; else impar">El contador es par</div>
<!-- <div *ngIf="contadorComp % 2 === 1">El contador es impar</div> -->
<ng-template #impar>
    El contador es impar
  </ng-template>
